/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; /* Prevents scrolling */
  font-family: Arial, sans-serif;
}

.video-background {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: -1; /* Ensures the video is behind other content */
  background-size: cover;
}

.content {
  position: relative;
  z-index: 1; /* Ensures the content is in front of the video */
  color: white; /* Text color for contrast */
  text-align: center; /* Center text within the content div */
  padding: 20px;
  box-sizing: border-box;
}

.landing-page {
  background-image: url("op1.mp4");
  background-size: cover;
  background-position: center;
  height: 100%;
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.nav-bar {
  color: #ffffff;
  text-shadow: 0 -1px 4px #000000, 0 -2px 10px #ff0, 0 -10px 20px #ff8000,
    0 -18px 40px #f00;
  color: #000000;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  z-index: 1;
}

.nav-bar .logo {
  font-size: 24px;
}

.nav-bar nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
  transition: color 0.3s;
}

.nav-bar nav a:hover {
  color: #000000;
  background: rgb(205, 14, 14);
  border-radius: 50px;
  padding: 15px 30px;
}

.content h1 {
  padding: 10px 20px;
  padding-top: 50px;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 100px;
  margin-bottom: -40px;
  color: #e0dfdc;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #d91717, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a,
    0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222,
    0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a,
    0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #080606, 0 15px 0 #b21010,
    0 22px 30px rgba(160, 13, 13, 0.9);
}

.content p {
  font-size: 30px;
  margin-bottom: 30px;
  text-align: center;
  padding: 40px 500px;
  color: #000000;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px red,
    0 0 30px red, 0 0 40px red, 0 0 55px red, 0 0 75px red;
}

.cta-button {
  text-decoration: none;
  background: #faf9f8;
  color: black;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 5px;
  transition: background 0.3s, color 0.3s;
}

.cta-button:hover {
  background: rgb(4, 4, 4);
  color: white;
}

footer {
  background: transparent;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  position: relative;
  z-index: 1;
  font-variant-caps: all-petite-caps;
}

.logo {
  color: white;
}
