body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #ffffff;

  background-image: url("op.gif");
  background-size: cover; /* Ensures the background image covers the entire page */
  background-repeat: no-repeat; /* Prevents the background image from repeating */
  background-attachment: fixed; /* Keeps the background image fixed in place */
  text-align: center;
  font-size: 20px;
}

.contact-us-header .container {
  display: inline-block;
  padding: 20px;
  bottom: 50px;
}

.contact-us-header h1 {
  padding-top: 100px;
  color: #fff;
  font-size: 100px;
  background-position: center;
  margin: 0;
  color: #ffffff;
  text-shadow: 0 -1px 4px #fff, 0 -2px 10px #ff0, 0 -10px 20px #ff8000,
    0 -18px 40px #f00;
  color: #ffffff;
}

.contact-info {
  padding: 50px 0;
}

.contact-info h2 {
  font-size: 24px;
  margin-bottom: 40px;
  color: #ffffff;

  text-shadow: 0 -1px 4px #fff, 0 -2px 10px #ff0, 0 -10px 20px #ff8000,
    0 -18px 40px #f00;
  color: #ffffff;

  text-shadow: 0 -1px 4px #fff, 0 -2px 10px #ff0, 0 -10px 20px #ff8000,
    0 -18px 40px #f00;
  color: #ffffff;
}

.contact-methods {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.contact-methods .method {
  text-align: center;
  max-width: 200px;

  text-shadow: 0 -1px 4px #fff, 0 -2px 10px #ff0, 0 -10px 20px #ff8000,
    0 -18px 40px #f00;
  color: #ffffff;
}

.contact-methods .method .icon {
  font-size: 40px;
  display: block;
  margin-bottom: 10px;
}

.contact-form {
  padding: 50px 0;
}

.contact-form h2 {
  font-size: 20px;
  margin-bottom: 30px;

  text-shadow: 0 -1px 4px #fff, 0 -2px 10px #ff0, 0 -10px 20px #ff8000,
    0 -18px 40px #f00;
  color: #ffffff;
}

.contact-form form {
  display: inline-block;
  text-align: left;
  max-width: 400px;
  width: 100%;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #e1b77a;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
}

.contact-form button {
  text-decoration: none;
  background: #faf9f8;
  color: black;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 5px;
  transition: background 0.3s, color 0.3s;
  cursor: pointer;
}
.contact-form button:hover {
  background: rgb(4, 4, 4);
  color: white;
}

.social-media {
  padding: 50px 0;
}

.social-media h2 {
  font-size: 20px;
  margin-bottom: 20px;

  text-shadow: 0 -1px 4px #fff, 0 -2px 10px #ff0, 0 -10px 20px #ff8000,
    0 -18px 40px #f00;
  color: #ffffff;
}

.social-media .icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-media .icons img {
  width: 40px;
  height: 40px;
}
.nav-bar {
  color: #ffffff;

  text-shadow: 0 -1px 4px #000000, 0 -2px 10px #ff0, 0 -10px 20px #ff8000,
    0 -18px 40px #f00;
  color: #000000;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  z-index: 1;
}
.method {
  background: #9ca33e;
  border-radius: 15px;
  margin: 20px;
  padding: 30px;
  width: 250px;
  background: #8c8c37;
  background: linear-gradient(90deg, #8c8c37 0%, #8b8b20 40%, #5c5c0f 80%);
  background: -webkit-linear-gradient(
    90deg,
    #8c8c37 0%,
    #8b8b20 40%,
    #5c5c0f 80%
  );
  background: -moz-linear-gradient(90deg, #8c8c37 0%, #8b8b20 40%, #5c5c0f 80%);
  transform: scale(1.07);
}
.method p {
  margin: 0; /* Remove default margin to ensure content fits within the box */
  font-size: 13px; /* Adjust font size as needed */
}
.method:hover {
  transform: scale(1.07);
}

.nav-bar .logo {
  font-size: 24px;
}

.nav-bar nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
  transition: color 0.3s;
}

.nav-bar nav a:hover {
  color: #000000;
  background: rgb(7, 146, 83);
  border-radius: 50px;
  padding: 15px 30px;
}

.nav-bar nav a:hover {
  color: #000000;
  background: red;
  border-radius: 50px;
}
.logo img {
  width: 150px;
  mix-blend-mode: normal;
}
.container {
  color: #ffffff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px red,
    0 0 30px red, 0 0 40px red, 0 0 55px red, 0 0 75px red;
  color: #5f0202;
}
footer {
  background: transparent;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  position: relative;
  z-index: 1;
  font-variant-caps: all-petite-caps;
  font-size: 25px;
}
